<div class="module-view-container">
  <div class="module-view-header">
    <h1>Alle Module - sortiert auf einen Blick</h1>
  </div>
  <form class="module-view-search">
    <div class="searchbar">
      <input type="search" placeholder="Suche"/>
      <button type="submit">
        <img src="../public/icons/search.svg" alt="go"/>
      </button>
    </div>
    <div class="dropdown">
      <label class="dropdown-label">Klassen</label>
      <select>
        <option *ngFor="let item of classesData">{{ item['class-name'] }}</option>
      </select>
    </div>
  </form>
  <div class="module-view-table">
    <table>
      <thead>
      <th>Name</th>
      <th>Datum</th>
      <th>Beschreibung</th>
      <th>Note
        <br/>
        Lernzielkontrolle
      </th>
      <th>Note
        <br/>
        Projektarbeit
      </th>
      </thead>
        <tbody class="table-body">
        <tr *ngFor="let item of tableData">
          <td>{{ item['table-name'] }}</td>
          <td>{{ item.date }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.lzk }}</td>
          <td>{{ item.project }}</td>
        </tr>
        </tbody>
    </table>
  </div>
</div>
