<div class="login-container">
  <div class="hero-container section-container">
    <div class="container title-container">
      <div class="heading-container">
        <h1>Der Bewertungsmanager für Dozenten und Umschüler</h1>
      </div>
      <div class="subheading-container">
        <h2>Verwalte deine Module, Projektarbeiten und Lernzielkontrollen einfach und effizient.</h2>
      </div>
    </div>
    <div class="login-card">
      <div class="login-card-header">
        <div>
          <h3>Logge dich ein, um die Platform zu benutzen.</h3>
        </div>
      </div>
      <div class="login-card-button"></div>
    </div>
  </div>
  <div class="image-container section-container"></div>
</div>
