@if (_createModule) {
  <app-module-create (createdModule)="handleModuleCreate($event)"></app-module-create>
}
<div class="container">
  <h2>Module</h2>
  <div class="table">
    <table>
      <thead>
      <tr>
        <th>Modulname</th>
        <th>Datum</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let module of modules">
        <tr app-module-list-entry [module]="module"></tr>
      </ng-container>
        @if (isLecturer) {
          <tr>
            <td>
              <select [(ngModel)]="selectedModule" (ngModelChange)="handleAddModule(selectedModule)">
                <option disabled selected name="add" value="add">Modul hinzufügen</option>
                @for (module of filteredAllModules(); track module) {
                  <option [ngValue]="module">{{ module.name }}</option>
                }
                <option name="create" value="create">Neues Modul erstellen</option>
              </select>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
