@font-face {
  font-family: 'Calibre-B';
  src: url('../public/fonts/fonts/Calibre/DesktopFonts/Calibre-Bold.otf');
}

@font-face {
  font-family: 'Calibre-M';
  src: url('../public/fonts/fonts/Calibre/DesktopFonts/Calibre-Medium.otf');
}

@font-face {
  font-family: 'Calibre-R';
  src: url('../public/fonts/fonts/Calibre/DesktopFonts/Calibre-Regular.otf');
}

@font-face {
  font-family: 'Northwell Clean Alt';
  src: url('../public/fonts/fonts/Northwell (New Update)/Northwell Clean/Northwell Clean Alt.ttf');
}

@font-face {
  font-family: 'Realtime Rounded';
  src: url('../public/fonts/fonts/Realtime Rounded/Juri Zaech - Realtime Rounded.otf')
}

:root {
  --white: #ffffff;
  --snow: #f9f9f9;
  --paper: #ededed;
  --sand: #ede6dc;
  --mustard: #d69603;
  --stone: #a5a5a5;
  --panther: #27323f;
  --midnight: #1a222a;
  --change: #002a5c;
  --portfolio: #ccff99;
  --warning: #ff6698;
  --table-highlight: #014393;

  --northwell: 'Northwell Clean Alt', sans-serif;
  --realtime: 'Realtime Rounded', sans-serif;
  --calibre-b: 'Calibre-B', sans-serif;
  --calibre-m: 'Calibre-M', sans-serif;
  --calibre-r: 'Calibre-R', sans-serif;

  --landscape-light: url('../public/logo/logo/RGB/SVG/LOGO_L_NEG_RGB.svg');
  --landscape-dark: url('../public/logo/logo/RGB/SVG/LOGO_L_POS_RGB.svg');
  --portrait-light: url('../public/logo/logo/RGB/SVG/LOGO_P_NEG_RGB.svg');
  --portrait-dark: url('../public/logo/logo/RGB/SVG/LOGO_P_POS_RGB.svg');
  --spot-mustart: url('../public/shapes/shapes/spot-mustard/spot-mustard.svg');
  --waves-sand: url('../public/shapes/shapes/wave-sand/wave-sand.svg');
  --waves-sand-upwards: url('../public/shapes/shapes/wave-sand-upward/wave-sand-upward.svg');

  --bg-gradient-change: url('../public/backgrounds/bg-gradient-change.svg');
  --bg-gradient-panther: url('../public/backgrounds/bg-gradient-panther.svg');
  --bg-gradient-sand-stone: url('../public/backgrounds/bg-gradient-sand-stone.svg');
}
